h1{
    background-color: red;
    font-size: 2rem;
    padding: 2rem;
    list-style: none;
    line-height: 1;
}

body {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    padding: 2rem;
}

.box{
    width: 200px;
    height: 200px;
}

img{
    width: 100%;
    height: 100%;
}
